# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f2ea9225f3ac5ea35f2aceaac4495eb88817e2b1e2ad00bac9c19efab17ad6adea4101f59c62ec27e1ae5a0f2898f2a838412d12b2e5efb48a0407640bb99040

test:
  secret_key_base: 55f3b4fa27ed5b57bac2a650cedf1de10fcfd83cdedc400a99b323be6dfbaef452a4b9a9a2d06358401c25f0bcba5ef2eba9f5160ff8ea517d0266b764597a67

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
